{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container">
       <img src="{{ course.thumbnail.url }}" alt=""> {{ course.price }} <br>
       {{ course.description }} <br>
       {{ course.certification }} <br>
       {{ course.learning_outcome }} <br>
    </div>

{% endblock %}

Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium id natus totam, quaerat voluptatibus facere impedit debitis esse minus sed fuga molestias delectus quisquam commodi eveniet? Molestiae nisi maiores qui.