{% extends 'base.html' %}
{% load embed_video_tags %}
{% load static %}

{% block mycss %}
<link rel="stylesheet" href="{% static 'css/courses.css' %}" />
{% endblock %}

{% block content %}



<div class="course-section">
    <img src="{% static 'asset/coursepagebg.jpg' %}" alt="" class="coursebg" />
    <h1>ALL COURSES</h1>
</div>

<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9">

            <div id="onee" class="w3-container city">
                <div class="row">

                    {% for course in page_obj %}
                    <div class="col-md-4">
                        <div class="card">
                            <img class="card-img-top" src="{{ course.thumbnail.url }}" alt="Card image cap" />
                            <div class="middle">
                                <a class="text" href="{% url 'course-details' course.id %}" target="_blank">Read
                                    more!</a>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">{{ course.course_name }}</h4>
                                <hr>
                                <span class="text-muted likes"><i class="fas fa-thumbs-up"></i> 273</span>
                                <span class="text-muted comment"><i class="fas fa-comment"></i> 2</span>
                                <span class="price"><strike class="text-muted striked">Rs. 80.00</strike><b
                                        style="color:red;"> Rs. {{ course.price }}</b></span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!-- ============================ Pagination Starts ============================-->
            <div class="w3-bar w3-black text-center">
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                        <a href="?page=1"><button class="w3-bar-item w3-button">First</button></a>
                        <a href="?page={{ page_obj.previous_page_number }}"><button class="w3-bar-item w3-button">Previous</button></a>
                        {% endif %}

                        <a href="?page={{ page_obj.number }}"><button class="w3-bar-item w3-button">{{ page_obj.number }}</button></a>
                        {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}"><button class="w3-bar-item w3-button">Next</button></a>
                        <a href="?page={{ page_obj.paginator.num_pages }}"><button class="w3-bar-item w3-button">Last</button></a>
                        {% endif %}
                    </span>
                </div>
            </div>
            <!-- ============================ Pagination Ends ============================-->

        </div>

        <!-- ============================ Right Menu Starts ============================-->
        <div class="col-lg-3" id="filter">
            <form action="">

                <h4>Course Categories</h4>
                {% for category in course_categoies %}
                <div class="form-group">
                    <input type="checkbox" id="backend" name="backend">
                    <label for="backend"> {{ category.category_name }} </label>
                </div>
                {% endfor %}

                <h4>Instructors</h4>
                <div class="form-group">
                    <input type="checkbox" id="instructor" name="instructor">
                    <label for="instructor"> mic@labthinker (18)</label>
                </div>

                <h4>Price</h4>                
                <div class="form-group">
                    <label><input type="radio" name="gg"> All (18)</label>
                </div>
                {% for membership in memberships %}
                <div class="form-group">
                    <label><input type="radio" name="gg"> {{ membership.membership_type }}</label>
                </div>
                {% endfor %}
                
            </form>
        </div>
        <!-- ============================ Right Menu Ends ============================-->
    </div>
</div>

{% endblock %}