{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">

    <section>

        <!-- ========================= Displaying message rendered from view function Starts ===================== -->
        <div class="container">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <!-- ========================= Displaying message rendered from view function Ends ===================== -->

        <div class="row">
            <div class="col-md-6 join text-center">
                <h2 class="hi">Hi, Are You Confused ? How To Become A Great Programmer ?</h2>
                <img id="one" src="{% static 'asset/hello.gif' %}" alt="hello" />
                <h3>CODING FOR KIDS [8-14 YRS]</h3>
                <p>Let your kids programme a better future</p>
                <a class="button btn" href="reg.html" type="button" target="_blank"><span>Join Now</span></a>
            </div>
            <div class="col-md-6 join">
                <img id="two" src="{% static 'asset/banner.png' %}" alt="" />
            </div>
        </div>
    </section>
    <main class="container">
        <h1 class="text-center heading">WHY CODING IS IMPORTANT FOR YOUNG MINDS?</h1>
        <div class="row ss">
            <div class="col-md-6 quote">
                <div class="box"><i class="fas fa-quote-right fa2"></i>
                    <div class="text"><i class="fas fa-quote-left fa1"></i>
                        <div>
                            <p>Learning to write programs stretches your mind, and helps you think better, creates a
                                way of thinking about things that I think is helpful in all domains.</p>
                            <img src="{% static 'asset/bill.jpg' %}" alt="bill gates" />
                            <span style="color:#f6a623;"><i>Bill Gates</i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 quote">
                <div class="box"><i class="fas fa-quote-right fa2"></i>
                    <div class="text"><i class="fas fa-quote-left fa1"></i>
                        <div>
                            <p>I taught myself how to program computers when I was a kid, bought my first computer
                                when I was 10, and sold my first commercial program when I was 12.</p>
                            <img src="{% static 'asset/elon.jpg' %}" alt="elon musk" />
                            <span style="color:#f6a623;"><i>Elon Musk</i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div style=" background-image: linear-gradient(70deg, #200654 45%, #013080 100%);background-color: transparent;">
        <div class="row test">
            <div class="col-md-4">
                <img src="{% static 'asset/online.png' %}" id="code" alt="online coding" />
            </div>
            <div class="col-md-8 ">
                <div class="row text-center">
                    <h2 style="color:white">Why you choose online teaching ?</h2>
                    <p style="color:whitesmoke"><b>Online teaching</b> provides instructors with greater flexibility
                        to address varying learning styles and use different technologies. They can <b>teach</b>
                        from the comfort of their own homes and do not need to be at a specific place at a specific
                        time to <b>teach</b> or to interact with their students.
                    </p>
                </div>
                <div class="row text-center d-flex justify-content-center align-items-center">
                    <div class="col-md-4" style="display: flex;align-self: center;">
                        <div class="counter">
                            <i class="fas fa-book-open fa-2x"></i>
                            <h2 class="timer count-title count-number" data-to="35" data-speed="1500"></h2>
                            <p class="count-text ">Total Courses</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="counter">
                            <i class="fas fa-video fa-2x"></i>
                            <h2 class="timer count-title count-number" data-to="11" data-speed="1500"></h2>
                            <p class="count-text ">Free Webinars</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="counter">
                            <i class="fas fa-user-tie fa-2x"></i>
                            <h2 class="timer count-title count-number" data-to="19" data-speed="1500"></h2>
                            <p class="count-text ">Free Webinars</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="position: relative;">
            <div class="testd">
                <img src="{% static 'asset/testd.png' %}">
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row top">
        <div class="col-md-6 written">
            <h2 style="color:#33006C;" class="text-center">Our Top Programming Courses</h2>
            <ol>
                <li>Personalized attention.</li>
                <li>Active learning.</li>
                <li>Schedule the class at your convenience.</li>
                <li>Learn from the comfort of your home.</li>
                <li>Independent of Parental support.</li>
                <li>Chat support for doubt resolution.</li>
            </ol>
            <button class="btn btn-lg demo">Demo Class <i class="fas fa-angle-double-right"></i></button>
        </div>
        <div class="col-md-6 text-center">
            <img src="{% static 'asset/courses.png' %}">
        </div>
    </div>
    <div class="row bottom">
        <div class="col-md-6 text-center">
            <img src="{% static 'asset/laptop.png' %}">
        </div>
        <div class="col-md-6 written">
            <h2 style="color:#33006C;" class="text-center">Online Coding Classes</h2>
            <ol>
                <li>Personalized attention.</li>
                <li>Active learning.</li>
                <li>Schedule the class at your convenience.</li>
                <li>Learn from the comfort of your home.</li>
                <li>Independent of Parental support.</li>
                <li>Chat support for doubt resolution.</li>
            </ol>
            <button class="btn btn-lg demo">Demo Class <i class="fas fa-angle-double-right"></i></button>
        </div>
    </div>
    <div class="row top">
        <div class="col-md-6 written">
            <h2 style="color:#33006C;" class="text-center">Our Coding Courses For School Students</h2>
            <ol>
                <li>Personalized attention.</li>
                <li>Active learning.</li>
                <li>Schedule the class at your convenience.</li>
                <li>Learn from the comfort of your home.</li>
                <li>Independent of Parental support.</li>
                <li>Chat support for doubt resolution.</li>
            </ol>
            <button class="btn btn-lg demo">Read More <i class="fas fa-angle-double-right"></i></button>
        </div>
        <div class="col-md-6 text-center">
            <img src="{% static 'asset/students.jpg' %}">
        </div>
    </div>
    <div class="row ct">
        <div class="col-md-6">
            <img src="{% static 'asset/ct.png' %}">
        </div>
        <div class="col-md-6 written">
            <h1 class="text-center heading">Benefits of learning code at young age</h1>
            <p>Coding is a basic literacy in the digital <b>age</b>, and it is important for kids to understand and
                be able to work with and understand the technology around them. Having children <b>learn</b> coding
                at a <b>young age</b> prepares them for the future. Coding helps children with communication,
                creativity, math,writing, and confidence.</p>
            <button class="btn btn-lg">Join Free Classes <i class="fas fa-angle-right"></i></button>
        </div>
    </div>
</div>
<div class="container">
    <div class="text-center thinker" id="grad">
        <h1 class="heading"><b>Thinker Lab</b></h1>
        <h1 class="heading">Let's Think & Build</h1>
        <p>I Stop Solution for STEM Education. Let Your Children Think & Build Beyond Their School Curriculum</p>
        <button class="btn btn-lg">Get a Free Demo</button>
    </div>
    <div class="num">
        <div class="row text-center d-flex justify-content-center align-items-center">
            <div class="col-md-4" style="display: flex;align-self: center;">
                <div class="counter">
                    <h2 class="timer count-title count-number" data-to="605" data-speed="1500"
                        style="font-weight:100;color:#6ec1e4;"></h2>
                    <p class="count-text ">Students</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="counter">
                    <h2 class="timer count-title count-number" data-to="1099" data-speed="1500"
                        style="font-weight:100;color:#6ec1e4;"></h2>
                    <p class="count-text ">Hours Taught</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="counter">
                    <h2 class="timer count-title count-number" data-to="3" data-speed="1500"
                        style="font-weight:100;color:#6ec1e4;"></h2>
                    <p class="count-text ">Schools/Colleges</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}