{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<div style="margin-top: 50px; margin-bottom: 80px;">
    <div class="container">
        {% if validlink %}
            <h3>Change password</h3>
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                    {% bootstrap_field field %}
                {% endfor %}
                
                {% buttons %}
                    <button class="btn btn-success">Change password</button>
                    <a class="btn btn-info" href="{% url 'Home' %}">Cancel</a>
                {% endbuttons %}
            </form>
        {% else %}
            <p>
                The password reset link was invalid, possibly because it has already been used.
                Please request a new password reset.
            </p>
        {% endif %}
    </div>
</div>

{% endblock %}