{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load socialaccount %}

{% block mycss %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}" />
{% endblock %}

{% block content %}


<div class="reg">
    <div class="row">
        <div class="container">

            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}

            <div class="col-lg-6">
                <div id="box">

                    <!-- Register Form Starts-->
                    <div id="content">
                        <h1>Register</h1>
                        <div id="login">
                            <form name="register" action="#" method="POST" accept-charset="utf-8">
                                {% csrf_token %}
                                {% for field in registration_form %}
                                    {% bootstrap_field field %}
                                {% endfor %}

                                {% buttons %}
                                    <button class="btn btn-success">Register</button>
                                {% endbuttons %}

                                <div class="border-top pt-3">
                                    Already Have an Account? <a class="ml-2" href="{% url 'login-user' %}">Sign
                                        In</a>
                                </div>

                                Or, <b>Register using <a href="{% provider_login_url 'google' %}">Google
                                        account.</b></a>
                            </form>
                        </div>
                    </div>
                    <!-- Register Form Ends -->

                </div>
            </div>
            <div class="col-lg-6">
                <img src="{% static 'asset/register.png' %}" alt="" class="reg-img" />
            </div>
        </div>
    </div>
</div>


{% endblock %}